body {
    /* background: transparent; */
    margin: 0 auto;
    padding: 15px;
    border: 10px solid #314260;
    border-radius: 30px;
    opacity: 1;
    background-image: url('images.jpg');
    background-color: rgb(212, 227, 241);
    width: auto;
    height: auto;

    
}

html {
    background-color: black;
    background-image: url('images.jpg');
}